[Unit]
Description=SNMP Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=root
ExecStart=/usr/local/snmp-exporter/snmp_exporter --config.file /usr/local/snmp_exporter/snmp.yml

[Install]
WantedBy=default.target
